<v-state @logged="set_logged" :path="path" class="text-center" v-slot="{ file }">
  <v-header v-if="info" :info="info" @routed="route" @logged="set_logged" :file="file"></v-header>

  <div :class="(file=='index') ? 'container' : ''">
    <div class="px-2 py-3" v-if="info">

      <v-operation v-if="path=='delegate'" :info="info" v-slot="{ set_forged }" :path="path">
        <v-delegation :info="info" @forged="set_forged" :path="path"></v-delegation>
      </v-operation>

      <v-view v-else-if="path=='view'"></v-view>

      <v-settings v-else-if="path=='settings'" :info="info" @logged="set_logged" :path="path" :file="file"></v-settings>

      <v-sign v-else-if="info.sign_request && info.request_id" :info="info" :req="info.sign_request" :id="info.request_id"></v-sign>

      <v-operation v-else-if="info.send_request && info.request_id!=undefined" :info="info" :req="info.send_request" :id="info.request_id" :path="path">
      </v-operation>

      <v-operation v-else :info="info" v-slot="{ set_forged }" :path="path">
        <v-transaction :info="info" @forged="set_forged" :path="path"></v-transaction>
      </v-operation>
    </div>
  </div>
</v-state>
