<div style="position:relative">
  <slot style="z-index:10;overflow-x:auto"></slot>
  <b-button @click="copy()" size="sm" :title="message" v-b-tooltip.hover class="m-1" style="position:absolute;top:0;right:0" :variant="variant">
    <b-icon-files></b-icon-files>
  </b-button>
</div>
