<div>
  <div v-if="error">
    <v-copy :value="JSON.stringify(error)">
      <v-json :data="error"></v-json>
    </v-copy>
  </div>
  <div v-else>
    <b-form-group label="Name">
      <b-form-input type="text" v-model="input.name" size="sm" autofocus></b-form-input>
    </b-form-group>
    <b-form-group label="Secret key" v-if="input.mnemonic==''">
      <b-form-input type="text" v-model="input.secret_key" size="sm"></b-form-input>
    </b-form-group>
    <b-form-group v-if="input.secret_key==''">
      <template #label>
        <span>Mnemonic</span>
        <b-button @click="generate()" size="sm" class="mx-2">
          <b-icon-arrow-counterclockwise></b-icon-arrow-counterclockwise>
        </b-button>
      </template>
      <v-copy :value="input.mnemonic" variant="outline-secondary">
        <b-form-textarea type="text" v-model="input.mnemonic" size="sm" rows="3"></b-form-textarea>
      </v-copy>
    </b-form-group>
    <slot></slot>
    <b-button :disabled="input.secret_key=='' && input.mnemonic=='' || processing" @click="create(password)" class="m-2">
      <span v-if="!processing">
        {{ input.secret_key=='' ? 'Create' : 'Import' }}
      </span>
      <b-spinner v-else small></b-spinner>
    </b-button>
  </div>
</div>
