<div>
  <b-form-group label="delegate">
    <b-form-input v-model="delegate" @keyup.enter="forge()" size="sm" autofocus></b-form-input>
  </b-form-group>

  <div>
    <div class="d-flex align-items-center">
      <div :class="(!visible) ? 'border flex-grow-1' : 'flex-grow-1'" style="height:0"></div>
      <b-button class="ml-2 mt-1" variant="link" v-b-toggle.collapse-numbers>
        <b-icon-caret-down-fill v-if="!visible" scale="0.6"></b-icon-caret-down-fill>
        <b-icon-caret-up-fill v-else scale="0.6"></b-icon-caret-up-fill>
        Options
      </b-button>
    </div>
    <b-collapse id="collapse-numbers" class="mt-2" v-model="visible">
      <b-form-group label="fee">
        <v-tz size="sm" @changed="update_fee" :opt="true"></v-tz>
      </b-form-group>
      <b-form-group label="gas limit">
        <b-form-input v-model="gas_limit" size="sm" type="number"></b-form-input>
      </b-form-group>
      <b-form-group label="storage limit">
        <b-form-input v-model="storage_limit" size="sm" type="number"></b-form-input>
      </b-form-group>
      <b-form-group label="counter">
        <b-form-input v-model="counter" size="sm" type="number"></b-form-input>
      </b-form-group>
    </b-collapse>
  </div>

  <b-button @click="forge()" class="my-2">Forge</b-button>
</div>
