<b-navbar v-if="file=='index'" sticky toggleable="sm" type="dark" variant="dark">
  <b-navbar-brand @click="route('reset')">
    <img src="/img/icon.png" alt="Tzfunc" height="40px">
  </b-navbar-brand>
  <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
  <b-collapse id="nav-collapse" is-nav>
    <b-navbar-nav v-if="info!=undefined">
      <b-nav-item @click="route('')">Transfer</b-nav-item>
      <b-nav-item @click="route('view')">View</b-nav-item>
      <b-nav-item @click="route('delegate')">Delegate</b-nav-item>
    </b-navbar-nav>
    <b-navbar-nav class="ml-auto" v-if="info!=undefined">
      <b-nav-item @click="copy(info.account.tz1)" class="ml-2" v-b-tooltip.hover :title="copy_message">
        <img :src="'https://services.tzkt.io/v1/avatars/'+info.account.tz1" width="28px" class="mr-1">
        <span>{{ info.account.name.substring(0, 10) }}</span>
        <span v-if="info.node!=undefined" class="ml-2">{{ xtz }}</span>
      </b-nav-item>
      <b-nav-item-dropdown class="mr-2" right>
        <b-dropdown-item v-for="a in info.accounts" @click="set_account(a)" :key="a.tz1">
          {{ a.name.substring(0, 10) }}
        </b-dropdown-item>
      </b-nav-item-dropdown>
      <b-nav-item-dropdown class="mx-2">
        <template #button-content>
          <span class="mr-1">{{ info.network.name || info.network.url }}</span>
        </template>
        <b-dropdown-item @click="set_network('mainnet')">mainnet</b-dropdown-item>
        <b-dropdown-item @click="set_network('ghostnet')">ghostnet</b-dropdown-item>
        <b-dropdown-item @click="set_network('jakartanet')">jakartanet</b-dropdown-item>
      </b-nav-item-dropdown>
      <b-nav-form>
        <b-button size="sm" class="mx-2" variant="dark" @click="route('settings')">
          <b-icon-gear-fill></b-icon-gear-fill>
        </b-button>
      </b-nav-form>
      <b-nav-form>
        <b-button size="sm" class="mx-2" variant="dark" @click="route('lock')">
          <b-icon-lock-fill></b-icon-lock-fill>
        </b-button>
      </b-nav-form>
    </b-navbar-nav>
  </b-collapse>
</b-navbar>

<div v-else class="sticky-top">
  <div v-if="!info.sign_request" class="d-flex bg-secondary">
    <img src="/img/icon.png" alt="home" height="20" class="m-2" @click="route('reset')">
    <b-dropdown split split-variant="secondary" size="sm" block right split-class="rounded-0" toggle-class="rounded-0 border border-light" class="flex-fill" :disabled="info.request_network">
      <template #button-content>
        <span>{{ info.network.name || info.network.url }}</span>
      </template>
      <b-dropdown-item @click="set_network('mainnet')">mainnet</b-dropdown-item>
      <b-dropdown-item @click="set_network('ghostnet')">ghostnet</b-dropdown-item>
      <b-dropdown-item @click="set_network('jakartanet')">jakartanet</b-dropdown-item>
    </b-dropdown>
  </div>
  <div class="d-flex bg-secondary">
    <span style="width:20px"></span>
    <b-dropdown split split-variant="secondary" block size="sm" right split-class="rounded-0" toggle-class="rounded-0 border border-light" class="flex-fill" :disabled="info.request_account">
      <template #button-content>
        <div class="h4 mb-0" @click="copy(info.account.tz1)" v-b-tooltip.hover :title="copy_message">
          <img :src="'https://services.tzkt.io/v1/avatars/'+info.account.tz1" width="28px" class="mr-1">
          <span>{{ info.account.name.substring(0, 10) }}</span>
        </div>
      </template>
      <b-dropdown-item v-for="a in info.accounts" @click="set_account(a)" :key="a.tz1">
        {{ a.name.substring(0, 10) }}
      </b-dropdown-item>
    </b-dropdown>
  </div>
  <div class="d-flex" v-if="!info.sign_request">
    <b-button v-if="file=='popup'" size="sm" variant="secondary" @click="expand()" class="rounded-0" title="expand">
      <b-icon-arrows-fullscreen></b-icon-arrows-fullscreen>
    </b-button>
    <b-button v-if="file=='popup'" size="sm" variant="secondary" @click="route('delegate')" class="rounded-0" title="delegate">
      <b-icon-caret-up-square-fill></b-icon-caret-up-square-fill>
    </b-button>
    <div class="flex-fill bg-secondary text-light py-1">
      <span v-if="info.node!=undefined">{{ xtz }}</span>
    </div>
    <b-button v-if="file=='popup'" size="sm" variant="secondary" @click="route('settings')" class="rounded-0" title="settings">
      <b-icon-gear-fill></b-icon-gear-fill>
    </b-button>
    <b-button v-if="file=='popup'" size="sm" variant="secondary" @click="route('lock')" class="rounded-0" title="lock">
      <b-icon-lock-fill></b-icon-lock-fill>
    </b-button>
  </div>
</div>
