<b-row no-gutters>
  <b-col v-if="index!=undefined" cols="1">
    <b-button size="sm" @click="remove(index)" class="p-1" block>
      <b-icon-dash-circle-fill></b-icon-dash-circle-fill>
    </b-button>
  </b-col>
  <b-col v-if="input.typ.bool!=undefined" :cols="(index!=undefined ? 11 : 12)">
    <b-input-group size="sm">
      <b-input-group-prepend v-if="input.name!=undefined">
        <b-input-group-text>{{ input.name }}</b-input-group-text>
      </b-input-group-prepend>
      <b-form-select v-model="output.prim" :options="['True', 'False']" placeholder="bool"></b-form-select>
    </b-input-group>
  </b-col>
  <b-col v-else-if="output.string!=undefined" :cols="(index!=undefined ? 11 : 12)">
    <b-input-group size="sm">
      <b-input-group-prepend v-if="input.name!=undefined">
        <b-input-group-text>{{ input.name }}</b-input-group-text>
      </b-input-group-prepend>
      <b-form-input v-model="output.string" :placeholder="Object.keys(input.typ)[0]"></b-form-input>
    </b-input-group>
  </b-col>
  <b-col v-else-if="output.bytes!=undefined" :cols="(index!=undefined ? 11 : 12)">
    <b-input-group size="sm">
      <b-input-group-prepend v-if="input.name!=undefined">
        <b-input-group-text>{{ input.name }}</b-input-group-text>
      </b-input-group-prepend>
      <b-form-input v-model="output.bytes" :formatter="hex" lazy-formatter placeholder="bytes"></b-form-input>
    </b-input-group>
  </b-col>
  <b-col v-else-if="output.int!=undefined" :cols="(index!=undefined ? 11 : 12)">
    <b-input-group size="sm">
      <b-input-group-prepend v-if="input.name!=undefined">
        <b-input-group-text>{{ input.name }}</b-input-group-text>
      </b-input-group-prepend>
      <b-form-input v-model="output.int" type="number" :min="(Object.keys(input.typ)[0]!='int') ? 0 : null"></b-form-input>
      <b-input-group-append v-if="input.typ.mutez!=undefined">
        <b-input-group-text>μꜩ</b-input-group-text>
      </b-input-group-append>
    </b-input-group>
  </b-col>
  <b-col v-else-if="input.typ.tuple!=undefined" :cols="(index!=undefined ? 11 : 12)">
    <div v-if="input.name">{{ input.name }}</div>
    <v-micheline v-for="(t, index) in input.typ.tuple" :input="t" :output="output[index]" :key="(input.name || 'tuple')+'-'+index"></v-micheline>
  </b-col>
  <b-col v-else-if="input.typ.seq!=undefined" :cols="(index!=undefined ? 11 : 12)">
    <div>
      <b-input-group :prepend="input.name || 'seq'" size="sm">
        <b-form-input disabled></b-form-input>
        <b-input-group-append>
          <b-button @click="append(input, output)">
            <b-icon-plus-circle-fill></b-icon-plus-circle-fill>
          </b-button>
        </b-input-group-append>
      </b-input-group>
      <v-micheline v-for="(v, index) in output" :input="input.typ.seq" :output="v" :key="(input.name || 'seq')+'-'+index" :index="index" :parent="output"></v-micheline>
    </div>
  </b-col>
  <b-col v-else-if="input.typ.map!=undefined" :cols="(index!=undefined ? 11 : 12)">
    <b-input-group :prepend="input.name || 'map'" size="sm">
      <b-input-group-append>
        <b-button @click="append(input, output)">
          <b-icon-plus-circle-fill></b-icon-plus-circle-fill>
        </b-button>
      </b-input-group-append>
    </b-input-group>
    <b-row v-for="(v, index) in output" :key="(input.name || 'map')+'-'+index">
      <b-col v-if="index!=undefined" cols="1">
        <b-button size="sm" @click="remove(output, index)" class="p-1" block>
          <b-icon-dash-circle-fill></b-icon-dash-circle-fill>
        </b-button>
      </b-col>
      <b-col :cols="(index!=undefined ? 11 : 12)">
        <v-micheline :input="input.typ.map[0]" :output="v.args[0]"></v-micheline>
        <v-micheline :input="input.typ.map[1]" :output="v.args[1]"></v-micheline>
      </b-col>
    </b-row>
  </b-col>
  <b-col v-else-if="input.typ.option!=undefined" :cols="(index!=undefined ? 11 : 12)">
    <b-input-group size="sm">
      <b-input-group-prepend v-if="input.name!=undefined">
        <b-input-group-text>{{ input.name }}</b-input-group-text>
      </b-input-group-prepend>
      <b-form-select :options="[ { value: 'none', text: 'none' }, { value: 'some', text: 'some(' + (input.typ.option.name || Object.keys(input.typ.option.typ)[0]) + ')' } ]" value="none" @change="function(v) { fill(input, output, v) }"></b-form-select>
    </b-input-group>
    <v-micheline v-if="output.prim=='Some'" :input="input.typ.option" :output="output.args[0]"></v-micheline>
  </b-col>
  <b-col v-else-if="input.typ.or!=undefined" :cols="(index!=undefined ? 11 : 12)">
    <b-input-group size="sm">
      <b-input-group-prepend v-if="input.name!=undefined">
        <b-input-group-text>{{ input.name }}</b-input-group-text>
      </b-input-group-prepend>
      <b-form-select :options="[{value:'left', text:'left('+(input.typ.or[0].name || Object.keys(input.typ.or[0].typ)[0])+')'}, {value:'right', text:'right('+(input.typ.or[1].name || Object.keys(input.typ.or[1].typ)[0])+')'}]" value="left" @change="function(v) { fill(input, output, v) }"></b-form-select>
    </b-input-group>
    <v-micheline :input="(output.prim=='Left') ? input.typ.or[0] : input.typ.or[1]" :output="output.args[0]"></v-micheline>
  </b-col>
  <b-col v-else-if="input.typ.unit!=undefined" :cols="(index!=undefined ? 11 : 12)"></b-col>
  <b-col v-else :cols="(index!=undefined ? 11 : 12)">
    <div>Unknown type</div>
    <div>{{ input }}</div>
    <div>{{ output }}</div>
  </b-col>
</b-row>
