<div>
  <div v-if="forge_result.input!=undefined">
    <slot :set_forged="set_forged" :path="path"></slot>
  </div>
  <div v-else-if="forge_result.request && forge_result.request.editable && forge_result.request.operations.length == 1 && forge_result.request.operations[0].transaction!=undefined">
    <v-transaction :info="info" @forged="set_forged" :path="path" :request="forge_result.request"></v-transaction>
  </div>
  <div v-else-if="forge_result.request">
    <v-copy :value="JSON.stringify(forge_result.request.operations)">
      <v-json :data="forge_result.request.operations"></v-json>
    </v-copy>
    <b-button @click="forge" class="my-2" :disable="processing">
      <span v-if="!processing">Forge</span>
      <b-spinner v-else small></b-spinner>
    </b-button>
  </div>
  <div v-else-if="forge_result.error">
    <v-copy :value="JSON.stringify(forge_result.error)">
      <v-json :data="forge_result.error" deep="5" deepCollapseChildren></v-json>
    </v-copy>
    <b-button @click="cancel" class="my-2">Cancel</b-button>
  </div>
  <div v-else-if="forge_result.info">
    <v-copy :value="JSON.stringify(forge_result.info.operations)">
      <v-json :data="forge_result.info.operations"></v-json>
    </v-copy>
    <pre>{{ forge_result.info.bytes }}</pre>
    <div v-if="inject_result==undefined" class="m-2">
      <b-button @click="inject()" :disabled="processing">
        <span v-if="!processing">Inject</span>
        <b-spinner v-else small></b-spinner>
      </b-button>
      <b-button @click="cancel" class="m-2">Cancel</b-button>
    </div>
    <div v-else>
      <div v-if="inject_result.error">
        <v-copy :value="JSON.stringify(inject_result.error)">
          <v-json :data="inject_result.error" deep="5" deepCollapseChildren></v-json>
        </v-copy>
        <b-button @click="cancel" class="my-2">Cancel</b-button>
      </div>
      <div v-else-if="inject_result.hash" class="my-2">
        <div>
          <a :href="explorer_url + inject_result.hash" target="_blank">{{ inject_result.hash.substring(0, 12) }}</a>
          <b-button @click="copy(inject_result.hash)" :title="copy_message" v-b-tooltip.hover size="sm" class="ml-2">
            <b-icon-files></b-icon-files>
          </b-button>
        </div>
        <b-button @click="cancel" class="my-2">Back</b-button>
      </div>
    </div>
  </div>
</div>
