<div>
  <div class="accordion" role="tablist">
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle.accordion-network>Network</b-button>
      </b-card-header>
      <b-collapse id="accordion-network" accordion="settings-accordion" role="tabpanel">
        <b-card-body>
          <b-input-group>
            <b-form-select v-model="network_select" :options="['mainnet', 'ghostnet', 'jakartanet', 'custom']" size="sm"></b-form-select>
            <b-form-input v-if="network_select=='custom'" v-model="network_input" @keyup.enter="set_network(undefined)" size="sm" placeholder="http://localhost:4242"></b-form-input>
          </b-input-group>
          <b-button @click="set_network(undefined)" class="my-2">Set</b-button>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle.accordion-accounts>Accounts</b-button>
      </b-card-header>
      <b-collapse id="accordion-accounts" accordion="settings-accordion" role="tabpanel">
        <b-card-body>
          <b-table hover :fields="['name','tz1', 'edpk', 'actions']" :items="info.accounts" small class="mb-3" :stacked="file!='index'">
            <template #cell(name)="data">
              <b-form-input v-model="data.item.name" size="sm"></b-form-input>
            </template>
            <template #cell(tz1)="data">
              <span @click="copy(data.item.tz1)" v-b-tooltip.hover :title="copy_message">{{ data.item.tz1.substring(0,10) }}</span>
            </template>
            <template #cell(edpk)="data">
              <span @click="copy(data.item.edpk)" v-b-tooltip.hover :title="copy_message">{{ data.item.edpk.substring(0,10) }}</span>
            </template>
            <template #cell(actions)="data">
              <b-button-group>
                <b-button @click="remove_account(data.item)" size="sm" title="remove">
                  <b-icon-trash-fill></b-icon-trash-fill>
                </b-button>
                <b-button @click="update_account(data.item)" size="sm" title="save">
                  <b-icon-arrow-counterclockwise></b-icon-arrow-counterclockwise>
                </b-button>
                <b-button @click="data.toggleDetails" size="sm" title="show secret key">
                  <b-icon-eye-fill v-if="!data.detailsShowing"></b-icon-eye-fill>
                  <b-icon-eye-slash-fill v-else></b-icon-eye-slash-fill>
                </b-button>
              </b-button-group>
            </template>
            <template #row-details="data">
              <div v-if="data.item.edsk==undefined" class="d-flex">
                <b-input-group prepend="Password" size="sm" class="d-flex justify-content-center">
                  <b-form-input v-model="password" @keyup.enter="show_secret(data.item)" style="max-width:500px" type="password" autofocus></b-form-input>
                  <b-input-group-append>
                    <b-button v-if="!processing" @click="show_secret(data.item)">Show</b-button>
                    <b-button v-else disabled>
                      <b-spinner small></b-spinner>
                    </b-button>
                  </b-input-group-append>
                </b-input-group>
              </div>
              <div v-else>
                <pre class="d-inline">{{ data.item.edsk }}</pre>
                <b-button size="sm" @click="copy(data.item.edsk)" :title="copy_message" v-b-tooltip.hover class="mx-2">
                  <b-icon-files></b-icon-files>
                </b-button>
              </div>
            </template>
          </b-table>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle.accordion-new>New Account</b-button>
      </b-card-header>
      <b-collapse id="accordion-new" accordion="settings-accordion" role="tabpanel">
        <b-card-body>
          <v-create @updated="update_info"></v-create>
        </b-card-body>
      </b-collapse>
    </b-card>

  </div>
</div>
