<div>
  <div v-if="unpacked">
    <v-copy :value="JSON.stringify(unpacked)">
      <v-json :data="unpacked"></v-json>
    </v-copy>
  </div>
  <pre>
    {{ ((req.watermark) ? req.watermark : '') + req.bytes }}
  </pre>
  <b-button v-if="result==undefined" @click="sign()" :disabled="processing">
    <span v-if="!processing">Sign</span>
    <b-spinner v-else small></b-spinner>
  </b-button>
  <div v-else-if="result.signature!=undefined">
    <v-copy :value="result.signature" variant="outline-secondary">
      <pre>{{ result.signature }}</pre>
    </v-copy>
  </div>
  <div v-else-if="result.error!=undefined">
    <v-copy :value="JSON.stringify(result.error)">
      <v-json :data="result.error"></v-json>
    </v-copy>
  </div>
</div>
