<div>
  <!-- placeholder -->
  <div v-if="state.blank!=undefined" class="p-5"></div>

  <!-- create -->
  <div v-else-if="state.enable!=undefined" class="px-2 py-5">
    <v-create :password="password" @updated="set_state">
      <b-form-group label="Choose a password *">
        <b-form-input type="password" v-model="password" size="sm"></b-form-input>
      </b-form-group>
    </v-create>
  </div>

  <!-- approve -->
  <div v-else-if="state.approve" class="px-2 py-5 my-5">
    <div class="m-2">{{ state.approve.name }}</div>
    <div class="m-2">
      <a :href="state.approve.url" target="_blank">{{ state.approve.url }}</a>
    </div>
    <div class="m-3">
      <img v-if="state.approve.icon" :src="state.approve.icon" :alt="state.approve.name" width="50">
    </div>
    <b-button @click="approve()" class="m-2">Approve</b-button>
  </div>

  <!-- unlock -->
  <div v-else-if="state.unlock!=undefined" :class="'px-2 py-5 my-5 ' + ((file=='index') ? 'container' : '')">
    <b-form-group label="Password">
      <b-form-input type="password" v-model="password" @keyup.enter="unlock()" size="sm" autofocus></b-form-input>
    </b-form-group>
    <b-button v-if="!processing" @click="unlock()" class="m-2">Unlock</b-button>
    <b-button v-else disabled><b-spinner small></b-spinner></b-button>
  </div>

  <!-- error -->
  <div v-else-if="state.error" class="'px-2 py-5 ' + ((file=='index') ? 'container' : '')">
    <h5>Error {{ state.error.name }}</h5>
    <pre>{{ state.error.message }}</pre>
    <b-button @click="path='reset'">Reset</b-button>
  </div>

  <div v-else-if="state.info!=undefined">
    <slot :file="file"></slot>
  </div>
</div>
