<div>
  <b-form-group label="destination">
    <b-input-group size="sm">
      <b-form-input v-model="tr.destination" @keyup.enter="load_entrypoints()" autofocus></b-form-input>
      <b-input-group-append v-if="tr.destination.length==36 && tr.destination.substring(0, 3)=='KT1'">
        <b-button @click="load_entrypoints()">Load</b-button>
      </b-input-group-append>
    </b-input-group>
  </b-form-group>
  <b-form-group label="amount">
    <!-- <b-input-group size="sm"> -->
      <!--   <b-form-input v-model="tr.amount" type="number" @keyup.enter="forge()"></b-form-input> -->
      <!--   <b-input-group-append> -->
        <!--     <b-form-select v-model="tr.unit" :options="['ꜩ', 'μꜩ']" size="sm"></b-form-select> -->
        <!--   </b-input-group-append> -->
      <!-- </b-input-group> -->
    <v-tz size="sm" @changed="update_amount" @entered="forge()"></v-tz>
  </b-form-group>
  <b-form-group label="entrypoint" v-if="tr.destination.length==36 && tr.destination.substring(0, 3)=='KT1'">
    <b-form-input v-if="Object.keys(tr.entrypoints).length==0" v-model="tr.entrypoint_input" @keyup.enter="forge()" size="sm"></b-form-input>
    <b-form-select v-else v-model="tr.entrypoint_select" :options="Object.keys(tr.entrypoints)" @keyup.enter="forge()" size="sm"></b-form-select>
  </b-form-group>
  <v-micheline v-if="tr.entrypoints[tr.entrypoint_select]!=undefined && tr.destination.length==36 && tr.destination.substring(0, 3)=='KT1'" :input="tr.entrypoints[tr.entrypoint_select].input" :output="tr.entrypoints[tr.entrypoint_select].output"></v-micheline>
  <b-form-group v-else-if="tr.destination.length==36 && tr.destination.substring(0, 3)=='KT1'" label="parameters">
    <b-form-input v-model="tr.parameters" @keyup.enter="forge()" size="sm"></b-form-input>
  </b-form-group>

  <div>
    <div class="d-flex align-items-center">
      <div :class="(!visible) ? 'border flex-grow-1' : 'flex-grow-1'" style="height:0"></div>
      <b-button class="ml-2 mt-1" variant="link" v-b-toggle.collapse-numbers>
        <b-icon-caret-down-fill v-if="!visible" scale="0.6"></b-icon-caret-down-fill>
        <b-icon-caret-up-fill v-else scale="0.6"></b-icon-caret-up-fill>
        Options
      </b-button>
    </div>
    <b-collapse id="collapse-numbers" class="mt-2" v-model="visible">
      <b-form-group label="fee">
        <v-tz size="sm" @changed="update_fee" :opt="true"></v-tz>
      </b-form-group>
      <b-form-group label="gas limit">
        <b-form-input v-model="tr.gas_limit" size="sm" type="number"></b-form-input>
      </b-form-group>
      <b-form-group label="storage limit">
        <b-form-input v-model="tr.storage_limit" size="sm" type="number"></b-form-input>
      </b-form-group>
      <b-form-group label="counter">
        <b-form-input v-model="tr.counter" size="sm" type="number"></b-form-input>
      </b-form-group>
    </b-collapse>
  </div>

  <b-button @click="forge()" class="my-2" :disable="processing">
    <span v-if="!processing">Forge</span>
    <b-spinner v-else small></b-spinner>
  </b-button>
</div>
