<b-input-group :size="size">
  <b-form-input :value="value" type="number" @input="change_value" @keyup.enter="enter"></b-form-input>
  <b-input-group-append>
    <b-form-select :value="unit" :options="['ꜩ', 'μꜩ']" :size="size" @input="change_unit"></b-form-select>
  </b-input-group-append>
</b-input-group>
