<div>

  <b-form-group label="contract">
    <b-input-group size="sm">
      <b-form-input v-model="contract" @keyup.enter="load_views()" autofocus></b-form-input>
      <b-input-group-append v-if="contract.length==36 && contract.substring(0, 3)=='KT1'">
        <b-button @click="load_views()">Load</b-button>
      </b-input-group-append>
    </b-input-group>
  </b-form-group>

  <b-form-group label="view">
    <b-form-input v-if="Object.keys(views).length==0" v-model="input" @keyup.enter="view()" size="sm"></b-form-input>
    <b-form-select v-else v-model="selected" :options="Object.keys(views)" @keyup.enter="view()" size="sm"></b-form-select>
  </b-form-group>

  <v-micheline v-if="views[selected]!=undefined" :input="views[selected].input" :output="views[selected].output"></v-micheline>
  <b-form-group v-else label="parameters">
    <b-form-input v-model="param" @keyup.enter="view()" size="sm"></b-form-input>
  </b-form-group>

  <div>
    <div class="d-flex align-items-center">
      <div :class="(!visible) ? 'border flex-grow-1' : 'flex-grow-1'" style="height:0"></div>
      <b-button class="ml-2 mt-1" variant="link" v-b-toggle.collapse-numbers>
        <b-icon-caret-down-fill v-if="!visible" scale="0.6"></b-icon-caret-down-fill>
        <b-icon-caret-up-fill v-else scale="0.6"></b-icon-caret-up-fill>
        Options
      </b-button>
    </div>
    <b-collapse id="collapse-numbers" class="mt-2" v-model="visible">
      <b-form-group label="amount">
        <b-form-input v-model="amount" size="sm" type="number"></b-form-input>
      </b-form-group>
      <b-form-group label="balance">
        <b-form-input v-model="balance" size="sm" type="number"></b-form-input>
      </b-form-group>
      <b-form-group label="source">
        <b-form-input v-model="source" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label="payer">
        <b-form-input v-model="payer" size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label="level">
        <b-form-input v-model="level" size="sm" type="number"></b-form-input>
      </b-form-group>
      <b-form-group label="now">
        <b-form-input v-model="now" size="sm"></b-form-input>
      </b-form-group>
    </b-collapse>
  </div>

  <b-button @click="view()" class="my-2" :disable="processing">
    <span v-if="!processing">View</span>
    <b-spinner v-else small></b-spinner>
  </b-button>

  <div v-if="result">
    <v-copy :value="JSON.stringify(result)">
      <v-json :data="result"></v-json>
    </v-copy>
  </div>
  <div v-else-if="error">
    <v-copy :value="JSON.stringify(error)">
      <v-json :data="error" deep="5" deepCollapseChildren></v-json>
    </v-copy>
  </div>

</div>
